.navigationBtn {
  background-color: white;
  color: black;
  width: 50%;
  display: inline-block;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 8px;
  margin-left: 2%;
  margin-right: 2%;
}

.navigationBtn:hover {
  background-color: #66c2ff;
}
