.quest {
  display: inline-block;
  width: 25%;
  background-color: white;
  color: black;
  border-radius: 8px;
}

.addIcon {
  text-align: center;
  background-color: white;
  display: inline-block;
  margin: 20px;
  border-radius: 8px;
}

.title {
  margin: 20px;
}

.quest:hover {
  background-color: #66c2ff;
}

.MuiPaper-root {
  text-align: left;
}

@media only screen and (max-width: 787px) {
  .quest {
    width: 49%;
  }
}
